#title {
  background-color: #ea2c62;
  padding: 3% 15% 7%;
  color: #fff;
}


h1 {

  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.btn-img {
  height: 25px;
  width: 25px;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.3rem;
}

body {}

.navbar {
  padding: 0 0 25px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.title-img {

  width: 60%;
  transform: rotate(35deg);
  position: absolute;
}

h3 {
  font-family: 'Fredoka One', cursive;
  margin-left: 8px;
}

.fa-check-circle {
  font-size: 3rem;
  color: #d35d6e;
}

.contents {
  text-align: center;
}

.row {
  margin-top: 0px;
  margin-bottom: 40px;
}

.fa-check-circle:hover {
  color: #dc3545;
}

.fa-heart {
  font-size: 3rem;
  color: #d35d6e;
}

.fa-heart:hover {
  color: #dc3545;
}

.fa-bullseye {
  font-size: 3rem;
  color: #d35d6e;
}

.fa-bullseye:hover {
  color: #dc3545;
}

p {
  font-family: 'Corben', cursive;
  font-size: 1.2rem;
  color: grey;
}

#testimonials {
  padding: 3% 15%;
  text-align: center;
  background-color: #d35d6e;
  color: #fff;
}

h2 {
  font-family: 'Carter One', cursive;
  font-weight: bold;
  font-size: 2rem;
}

.testimonial-image {
  height: 3cm;
  width: 3cm;
  border-radius: 2cm;
}

#press {
  text-align: center;
  margin: 0px auto;
  padding: 25px;
  background-color: #d35d6e;
}

.press-img {
  width: 15%;
}

.price {
  margin: 3% 15%;
}

#pricing {
  text-align: center;
  padding-top: 1cm;
}

#features {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding: 8% 15%;
}

#cta{
  text-align: center;
  background-color: #ea2c62;
  color: white;
  padding-top: 40px;
}
#footer{
  text-align: center;
  margin: 5%;
}
.btn-btm{
  margin-top: 10px;
}

/*----------------------------------------------------------Media Query--------------------------------------------------------- */

@media (max-width:1028px)
{

#title{
  text-align: center;
  color: #fff;
}


  .title-img{
    transform: rotate(0deg);
    position: static;
  }

  h1{
    font-size: 3rem;
  }
}

